.bundle
/bundler/**/*
db/*.sqlite3
db/backups/*
log/*.log
tmp/
.sass-cache/
config/database.yml
spec/javascripts/*.js
spec/javascripts/**/*.js
public/templates/*.html
public/system/*
**/.DS_Store
**/*/.DS_Store
