%li
  .text= comment.text
  .author= comment.author.nickname
  - if current_user && current_user.id == comment.author.id
    .delete= link_to 'X', "/comments/#{comment.id}", :class => 'delete_comment'
