= form_tag build_linkmark_path, id: "codemark_form", class: 'first', remote: true, :method => :get do
  #first
    = url_field_tag "resource_attrs[url]", nil, placeholder: "paste full link URL here"
    = submit_tag "Add Link", :id => 'fetch', class: 'btn primary small'
