= form_for @new_codemark, html: {id: "codemark_form", class: 'first'}, remote: true do |form|
  #first
    - if @new_codemark.errors.present?
      .errors
        - @new_codemark.errors.full_messages.each do |msg|
          %p.flash.error= msg
    = url_field_tag :url, nil, placeholder: "http://www.myawesomeblog.com"
    = submit_tag "Add Link", :id => 'fetch'
