- content_for :header do
  = javascript_include_tag 'codemarks_bb'

:javascript
  window.CodemarksBB.bootstrap();

- if @codemarks.present?
  = render 'shared/codemark_list', :codemarks => @codemarks
- else
  You have no codemarks yet. Find out how to save some
  = link_to 'here', about_path
  or check out all the
  = link_to 'public codemarks', public_codemarks_path
