- if @codemarks.present?
  = render 'shared/codemark_list', :codemarks => @codemarks
- else
  Sorry, no codemarks matched that search.
  Check out all the
  = link_to 'public codemarks', public_codemarks_path
  or search again
