%h3
  .page_title Topics
  .pagination= paginate @topics, :remote => true, :window => 10, :outer_window => -1

  %ul.sort_links.piped
    %li.first= render 'shared/sort_link', :title => "Total Resources", :sort => "resource_count", :filter => params[:filter]
    %li= render 'shared/sort_link', :title => "Popularity", :sort => "popularity", :filter => params[:filter]
    %li.last= render 'shared/sort_link', :title => "Recent Activity", :sort => "recent_activity", :filter => params[:filter]
  .clear
