%li
  .topic_element
    %h6.left
      = link_to topic.title, topic
      = pluralize(topic.resource_count(current_user, filter_by_mine?), "resource")
    .right= link_to "Edit", edit_topic_path(topic)
    .clear
    %p= topic.description
