%h1 Topics
.sort_links
  %p.left
    Sort by:
    = link_to "Total Resources", topics_path(:sort => :resource_count)
    |
    = link_to "Recent Activity", topics_path(:sort => :recent_activity)
  %p.right
    Filter by:
    = link_to "Mine", topics_path(:filter => :mine)
  %br.clr

= render 'topics_list'
