<!-- BEGIN: Codemark Template. -->
<li class='codemark' id='codemark_record_119'>
  <input id='codemark_id' name='codemark_id' type='hidden' value='119' />
  <input id='click_url' name='click_url' type='hidden' value='/links/77/click' />
  <div class='corner delete'></div>
  <div class='actions'>
    <a class='show_comments' href=''>Comments (0)</a>
    <a class='edit_codemark' href=''>Edit</a>
    <a class='twitter_popup' data-tweet-text='Have%20you%20seen%20this%3F%20http%3A%2F%2Fviget.com%2Fextend%2Fprotip-passing-parameters-to-your-rake-tasks%20-%20%22Protip%3A%20Passing%20Parameters%20to%20Your%20Rake%20Tasks%20%7C%20Viget%22%20%23rake%20%23ruby-on-rails' href='http://twitter.com/share'>Share</a>
  </div>
  <h3>
    <a class='codemark_link' href='http://viget.com/extend/protip-passing-parameters-to-your-rake-tasks' target='blank'>Protip: Passing Parameters to Your Rake Tasks | Viget</a>
    <div class='host'>viget.com</div>
  </h3>
  <div class='clear'></div>
  <div class='details'>
    about 1 month
    ago
    by
    <a href='/gmassanek--6'>gmassanek</a>
    and 2 others
  </div>
  <ul id='topics_tags'>
    <li>
      <a href='/topics/rake'>Rake</a>
    </li>
    <li>
      <a href='/topics/ruby-on-rails'>Ruby on Rails</a>
    </li>
  </ul>
  <div class='clear'></div>
  <div class='comments'>
    <ul>
      <li class='none'>No comments yet</li>
    </ul>
    <form accept-charset='UTF-8' action='/comments' class='comment_form' id='' method='post'>
      <div style='margin:0;padding:0;display:inline'>
        <input name='utf8' type='hidden' value='✓' />
        <input name='authenticity_token' type='hidden' value='TGkQaXhK3Tosrn8JCVikXx8wD/QnZjm8nZCv6lOfqWI=' />
      </div>
      <input id='comment_codemark_id' name='comment[codemark_id]' type='hidden' value='119' />
      <textarea cols='40' id='comment_text' name='comment[text]' placeholder='Comment on this codemark' rows='20'></textarea>
      <input name='commit' type='submit' value='save' />
    </form>
  </div>
</li>
<!-- END: Codemark Template. -->
