<!-- BEGIN: Codemark Template. -->
<h3>
  <a class='title'></a>
  <span class='resource'>
    <span class='host'></span>
  </span>
</h3>
<section class='actions'>
  <a class='show_comments'></a>
  <a class='copy_codemark'>Save</a>
  <a class='twitter_share'></a>
</section>
<section class='details'>
  <span class='save_date'></span>
  by
  <a class='author'>
    <img class='avatar' />
    <span class='name'></span>
  </a>
</section>
<section class='topics'>
  <a class='topic_title'></a>
</section>
<div class='clear'></div>
<!-- END: Codemark Template. -->
