<!-- BEGIN: Control Panel Template. -->
<div class='sidebar'>
  <input id='yours' type='checkbox' />
  <label for='yours'>View only your codemarks</label>
  <ul>
    <h3>Users</h3>
    <li class='users'>
      <div class='user'></div>
    </li>
    <h3>Topics</h3>
    <li class='topics'>
      <div class='topic'></div>
    </li>
    <h3>Sort by</h3>
    <li class='sort'>
      <a class='date' href=''>date</a>
    </li>
    <li class='sort'>
      <a class='count' href=''>count</a>
    </li>
    <li class='sort'>
      <a class='visits' href=''>visits</a>
    </li>
  </ul>
</div>
<!-- END: Control Panel Template. -->
