<!-- BEGIN: Codemark Template. -->
<h3>
  <span class='resource'>
    <h3 class='title'></h3>
    <span class='host'></span>
  </span>
</h3>
<div class='corner'></div>
<section class='actions'>
  <a class='copy'>Save</a>
  <a class='edit'>Edit</a>
  <a class='twitter_share'></a>
</section>
<span class='resource'>
  <div class="text"></div>
</span>
<section class='details'>
  <span class='save_date'></span>
  by
  <a class='author'>
    <img class='avatar' />
    <span class='name'></span>
  </a>
</section>
<section class='topics'>
  <a class='topic_title'></a>
</section>
<div class='clear'></div>
<!-- END: Codemark Template. -->
