---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gmassanek/codemarks?client_id=17d564cb5975e018dd77&client_secret=319b7a70e661bd287f8ff100ef4fc42fc3fba71a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1427606533'
      Last-Modified:
      - Sun, 29 Mar 2015 01:12:50 GMT
      Etag:
      - W/"d001381e2a9dbc0c15c77ff29b8009a5"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":2687146,"name":"codemarks","full_name":"gmassanek/codemarks","owner":{"login":"gmassanek","id":343891,"avatar_url":"https://avatars.githubusercontent.com/u/343891?v=3","gravatar_id":"","url":"https://api.github.com/users/gmassanek","html_url":"https://github.com/gmassanek","followers_url":"https://api.github.com/users/gmassanek/followers","following_url":"https://api.github.com/users/gmassanek/following{/other_user}","gists_url":"https://api.github.com/users/gmassanek/gists{/gist_id}","starred_url":"https://api.github.com/users/gmassanek/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gmassanek/subscriptions","organizations_url":"https://api.github.com/users/gmassanek/orgs","repos_url":"https://api.github.com/users/gmassanek/repos","events_url":"https://api.github.com/users/gmassanek/events{/privacy}","received_events_url":"https://api.github.com/users/gmassanek/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/gmassanek/codemarks","description":"Bookmarks
        for Social Coders!","fork":false,"url":"https://api.github.com/repos/gmassanek/codemarks","forks_url":"https://api.github.com/repos/gmassanek/codemarks/forks","keys_url":"https://api.github.com/repos/gmassanek/codemarks/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gmassanek/codemarks/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gmassanek/codemarks/teams","hooks_url":"https://api.github.com/repos/gmassanek/codemarks/hooks","issue_events_url":"https://api.github.com/repos/gmassanek/codemarks/issues/events{/number}","events_url":"https://api.github.com/repos/gmassanek/codemarks/events","assignees_url":"https://api.github.com/repos/gmassanek/codemarks/assignees{/user}","branches_url":"https://api.github.com/repos/gmassanek/codemarks/branches{/branch}","tags_url":"https://api.github.com/repos/gmassanek/codemarks/tags","blobs_url":"https://api.github.com/repos/gmassanek/codemarks/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gmassanek/codemarks/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gmassanek/codemarks/git/refs{/sha}","trees_url":"https://api.github.com/repos/gmassanek/codemarks/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gmassanek/codemarks/statuses/{sha}","languages_url":"https://api.github.com/repos/gmassanek/codemarks/languages","stargazers_url":"https://api.github.com/repos/gmassanek/codemarks/stargazers","contributors_url":"https://api.github.com/repos/gmassanek/codemarks/contributors","subscribers_url":"https://api.github.com/repos/gmassanek/codemarks/subscribers","subscription_url":"https://api.github.com/repos/gmassanek/codemarks/subscription","commits_url":"https://api.github.com/repos/gmassanek/codemarks/commits{/sha}","git_commits_url":"https://api.github.com/repos/gmassanek/codemarks/git/commits{/sha}","comments_url":"https://api.github.com/repos/gmassanek/codemarks/comments{/number}","issue_comment_url":"https://api.github.com/repos/gmassanek/codemarks/issues/comments{/number}","contents_url":"https://api.github.com/repos/gmassanek/codemarks/contents/{+path}","compare_url":"https://api.github.com/repos/gmassanek/codemarks/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gmassanek/codemarks/merges","archive_url":"https://api.github.com/repos/gmassanek/codemarks/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gmassanek/codemarks/downloads","issues_url":"https://api.github.com/repos/gmassanek/codemarks/issues{/number}","pulls_url":"https://api.github.com/repos/gmassanek/codemarks/pulls{/number}","milestones_url":"https://api.github.com/repos/gmassanek/codemarks/milestones{/number}","notifications_url":"https://api.github.com/repos/gmassanek/codemarks/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gmassanek/codemarks/labels{/name}","releases_url":"https://api.github.com/repos/gmassanek/codemarks/releases{/id}","created_at":"2011-11-01T11:45:37Z","updated_at":"2015-03-29T01:12:50Z","pushed_at":"2015-03-29T01:12:49Z","git_url":"git://github.com/gmassanek/codemarks.git","ssh_url":"git@github.com:gmassanek/codemarks.git","clone_url":"https://github.com/gmassanek/codemarks.git","svn_url":"https://github.com/gmassanek/codemarks","homepage":"http://codemarks.com/about","size":18427,"stargazers_count":17,"watchers_count":17,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":false,"has_pages":true,"forks_count":9,"mirror_url":null,"open_issues_count":2,"forks":9,"open_issues":2,"watchers":17,"default_branch":"master","network_count":9,"subscribers_count":3}'
  recorded_at: Sun, 29 Mar 2015 04:23:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/gmassanek/goobar?client_id=17d564cb5975e018dd77&client_secret=319b7a70e661bd287f8ff100ef4fc42fc3fba71a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1427606533'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Sun, 29 Mar 2015 04:26:03 GMT
recorded_with: VCR 2.9.3
