%h3
  .page_title Reminders
  .pagination=# paginate @reminders, :remote => true, :window => 10, :outer_window => -1
  %ul.sort_links.piped
    %li.first= render 'shared/sort_link', :title => "Popularity", :sort => "popularity", :filter => params[:filter]
    %li= render 'shared/sort_link', :title => "Date Set", :sort => "recent_activity", :filter => params[:filter]
    %li.last= render 'shared/filter_link', :title => "Include Closed", :sort => params[:sort], :filter => "all"
  .clear
