= render '/users/codemark_filters', tabs: true

%ul#codemarks
  - @codemarks.each do |codemark|
    = render '/shared/codemark', :link => codemark.link_record, :codemark => codemark
= paginate @codemarks, :window => 5, :param_name => :page
