%h3 Hello #{@user.email}

%h3 Open Reminders
%ul
  - @user.reminders.unfinished.each do |reminder|
    %li
      = render 'links/link', :link => reminder.link
%h3 Closed Reminders
%ul
  - @user.reminders.finished.each do |reminder|
    %li
      = render 'links/link', :link => reminder.link
