#page_details
  %p.title= @user.email
  %ul.data.piped
    %li.first.last=# pluralize(@reminders.count, "reminders")
  .clear

= link_to "view archived", user_path(@user, archived: true), :remote => true
= link_to "by popularity", user_path(@user, by_popularity: true), :remote => true
%ul#list_box
  - @link_saves.each do |link_save|
    %li= link_to link_save.title, link_save.url
  =# render 'reminders_list_header', :title => "Outstanding Reminders"
  =# render 'reminders'
