#page_details
  %p.title= @user.nickname
  %ul.data.piped
    %li.first.last=# pluralize(@reminders.count, "reminders")
  .clear

=# link_to "view archived", user_path(@user, archived: true), :remote => true
= render 'codemark_filters'
.clear

= render '/shared/codemarks'
