= form_tag build_link_path, :method => :get, :remote => true, :id => "url_form" do |form|
  - if @link && @link.errors.present?
    .errors
      - @link.errors.full_messages.each do |msg|
        %p.flash.error= msg
  = url_field_tag :url, nil, placeholder: "http://www.myawesomeblog.com"
  = submit_tag "Add Link", :id => 'fetch'
