- if params[:filter] == filter
  = link_to title, url_for(:only_path => true, :sort => sort, :filter => ''), :class => 'on ', :remote => true
- else
  = link_to title, url_for(:only_path => true, :sort => sort, :filter => filter), :class => '', :remote => true
