#about 
  #banner
  #banner_text
    %h2 What are codemarks?
    %ul#site_explanation.piped
      %li.first
        %h3 links
        %p As coders, our days are filled with taking in content from sites like Twitter, Stack Overflow, Github, Blogs, etc. Codemarks are links to that content that are automatically parsed, tagged, and organized for you
      %li
        %h3 knowledge
        %p The long term goal of codemarks is bring an open source mentality to knowledge.  We should strive to <em>own</em> what we know.  It will make each of us better and push the community forward
      %li.last
        %h3 shared
        %p The greatest asset to the tech world is sharing our knowlege with others. Codemarks encourage social knowledge sharing and collaboration. Follow the resources of those you look up to the most
  %ul#site_explanation.piped.bottom
    %h2 How can I be a great codemarker?
    %li.first
      %h3 Add Content
      %p 
        Create codemarks online, or by emailing any link to #{ link_to 'save@codemarks.com', 'mailto: save@codemarks.com'}. Codemarks from twitter will be coming soon
    %li
      %h3 Bookmarklet
      - url = bookmarklet_url
      %p 
        - if url
          Drag this new 
          %a{href: url, id: "bookmarklet"} Codemarklet
          to your bookmark bar
        - else
          Sign in to get the new Codemarklet
    %li.last
      %h3 Share
      %p The more content, the more we all learn from each other.  Suggest it at your next meetup, and let us know what we can make better
