#about 
  #banner
  #banner_text
    %h2 What is Codemarks?
    %p.explanation Codemarks is the best way to save, organize, and discover code-related resources online
    .clear
    %ul#site_explanation.piped
      %li.first
        %h4 Codemarklet
        %p 
          Drag this
          %br
          = link_to 'Codemarklet', bookmarklet_url, :id => 'bookmarklet'
          %br
          to your bookmark bar to save Codemarks from anywhere
      %li 
        %h4 Chrome Extension
        %p
          Download the official
          %br
          = link_to 'Chrome Extension', 'https://chrome.google.com/webstore/search/codemarks', :target => '_blank'
          %br
          to save Codemarks from Google Chrome

      %li.last
        %h4 @codemarks
        %p
          Follow
          %br
          = link_to '@codemarks', 'https://twitter.com/intent/user?region=follow&screen_name=codemarks&source=followbutton&variant=2.0', :target => '_blank'
          %br
          for the latest features, updates, and more
