#banner
#banner_text
  %h2 Get started, sign up today! 
  .clear
  = link_to "sign in with twitter", sign_in_path(:twitter), :class => "btn-auth btn-twitter"
  = link_to "sign in with github", sign_in_path(:github), :class => "btn-auth btn-github"
  %ul#site_explanation
    %li
      %h4 Organize
      Codemarks help you easily save your favorite online coding resources.
    %li
      %h4 Discover
      New coding articles, tips and news. Learn from the best developers.
    %li
      %h4 Share
      with your community, with people as passionate as you about your craft.
#home_codemarks
  #recent Recent Codemarks
  = render 'shared/codemark_list', :codemarks => @codemarks
