#link_preferences
  = label_tag :reminder, "Remind me to revisit this", :class => 'right'
  = check_box_tag :reminder, :reminder, true, :class => 'right'
  %br
  = label_tag :public, "Public", :class => 'right'
  = check_box_tag :link, :public, !filter_by_mine?, :class => 'right'
