%ul#resources_list
  - @resources.each do |resource|
    = render resource, :locals => {:right_text => "Posted #{time_ago_in_words(resource.created_at)}"}
  = paginate @resources, :remote => true, :window => 10, :outer_window => -1
