#link_preferences
  = label_tag :reminder, "Remind me to revisit this", :class => 'right'
  = check_box_tag :reminder, "1", true, :class => 'right'
  %br
  = label_tag :private, "Private", :class => 'right'
  = check_box_tag "link[private]", 1, filter_by_mine?, :class => 'right'
