#link_preferences
  = label_tag :reminder, "Remind me to revisit this", :class => 'right'
  = check_box_tag "reminder", :class => 'right'
  %br
  = form.label :public, :class => 'right'
  = form.check_box :public, :class => 'right'
