/ BEGIN: Codemark Template.
%header
  .header-container
    .icon.icon-github
    .title
      %a.title_link
.main
  .description

  %p
    %label Forks:
    %span.forks_count

  %p
    %label Watchers:
    %span.watchers_count

  %p
    %label Language:
    %span.language

  %p
    %label Owner:
    %span.owner_login

  %ul.topics_list
    %li
      %a.topic
%footer
  .author.icon-user-2
    %img.avatar
    %a.name{:href => '#'}
    %span.saves
  .hover-icons
    %a.share.icon-twitter{:target => '_blank'}
    .views.icon-eye
    %a.permalink.icon-link-2
    %a.delete.icon-remove
    %a.edit.icon-pencil
    %a.add.icon-plus
.clear

/ END: Codemark Template.
