@import url(http://fonts.googleapis.com/css?family=Coustard|Indie+Flower);
$blue: blue;
$vitaminc: #FF9900;
$route66: #424242;
$grey: #E9E9E9;
$BC: #BCBCBC;
$blue: #3299BB;

$c1: #7a7373;
$c5: #fd8d00;
$c2: #364745;
$c4: #FED103;
$c3: #AF9A29;
$c6: white;
$border-color1: lighten($c2, 20%);
$border-color2: #dfdfdf;

$header-height: 30px;
$header-extra: 15px;
$header-box: 4px;
$border-radius: 5px;
$border-radius-tight: 3px;

