#main_content.users.show
  padding-top: 10px
  .side
    width: 235px
    padding-right: 10px
    float: left

  .user_image
    border: 1px solid $border-color2
    margin-right: 10px
    float: left
    height: 80px
    width: 80px

  .nickname
    margin: 5px 0 5px
    float: left

  .edit
    margin: 5px 0 5px
    float: right

  .details > div
    margin: 5px 0 5px

  .location
    float: left

  .email
    float: right

  .authentications
    margin: 5px 0 5px
    a.auth
      font-size: 18px
      line-height: 24px
      height: 26px
      font-family: 'icomoon'
      padding: 1px 6px 1px 1px
      margin: 0px 3px
      @include border-radius(3px)
      &:before
        content: ''
      &.twitter
      &.github
      &:not(.authenticated)
        color: #666
        border: 1px solid darken($border-color2, 15%)
        @include linear-gradient($border-color2, darken($border-color2, 5%))

#edit_account
  input
    width: 300px

  input[type=submit]
    width: 100px
