ul.new_options
  li
    border-bottom: 1px solid #ddd
    &:last-child
      border-bottom: none
    a
      font-size: 25px
      display: inline-block
      padding: 30px 25px
      color: #666
      width: 100%
      &:hover
        color: $orange
      &:before
        margin-right: 20px
    &.add_link
      form
        padding: 5px 10px
        input
          width: 100%
