ul.add_codemark
  line-height: 26px
  padding: 0px 5px

  li:first-child
    padding-left: 10px
    padding-right: 10px

  a
    color: #7a7373
    padding: 0 5px
    &:hover
      color: $orange
    &:before
      margin-right: 5px

  form
    input
      display: inline-block
    button
      display: inline-block
