/*
 *= require reset
 *= require layout
 *= require pages
 *= require jquery-ui-1.8.16.custom
 *= require_self
 *= require_tree . 
*/

/*** VARIABLES ***/
@import "configuration";

/*** SITE WIDE  ***/
h1, h2, h3, h4, h5, h6 { font-weight: bold; margin: 0;}
h1 { font-size: 160%; }
h2 { font-size: 150%; }
h3 { font-size: 140%; }
h4 { font-size: 130%; }
h5 { font-size: 120%; }
h6 { font-size: 110%; }

em { font-style: italic; }

input {
  padding: 3px;
  border: 1px solid $border-color1;
  border-radius: $border-radius-tight;

  &[type=submit] {
    padding: 5px 1em;
    border: 1px solid #999;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    color: #222;
    background: #fff;
    line-height: 20px;
    font-size: 16px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /* iOS */
    -webkit-appearance: none; /* 1 */
    /* IE6/7 hacks */
    *overflow: visible;  /* 2 */
    *display: inline; /* 3 */
    *zoom: 1; /* 3 */

    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;

    -moz-user-drag: -moz-none;
    -webkit-user-drag: none;
    user-drag: none;
  }
}

.inputs {
  label {
    margin-right: 5px;
    font-size: 14px;
  }
}

a {
  color: darken($c2, 10%);
  text-decoration: none;

  &:hover {
    color: $c5;
    text-decoration: none;
  }
}

html {
  height: 100%;
  font: 12px/16px helvetica, arial, freesans, clean, sans-serif;
  color: $c1;
}

body {
  //background: white url('background-v2.png') 0 0 repeat-x;
}


ul.piped {
  li {
    border-right: 1px solid $border-color1;
    border-left: 1px solid $c6;
    float: left;
    //box-shadow: 0 0 18px rgba(0,0,0,0.1);
    padding: 0 5px;

    &.first {
      border-left: none;
    }

    &.last {
      border-right: none;
    }
  }
}

.flash {
  padding: 12px;
  margin-bottom: 5px;
  postition: absolute;
  top: ($header-height + $header-extra + $header-box);
  width: 200px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
}

.notice {
  background: lighten($blue, 30%);
  border: 2px solid darken($blue, 10%);
  position: absolute;
}

.error {
  background: lighten($c4, 30%);
  border: 2px solid darken($c4, 10%);
}

.clear {
  clear: both;
}

.field_with_errors input {
  border: 2px red solid;
}
