/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require jquery-ui-1.8.16.custom
 *= require_self
 *= require_tree . 
*/
/*** VARIABLES ***/
$blue: blue;
$vitaminc: #FF9900;
$route66: #424242;
$grey: #E9E9E9;
$BC: #BCBCBC;
$blue: #3299BB;

$c1: #203e42;
$c2: #7e9899;
$c3: #d4fffd;
$c4: #db9655;
$c5: #de6a00;
$c6: white;
$border-color1: lighten($c2, 20%);
$border-color2: #dfdfdf;

$header-height: 30px;
$header-extra: 60px;
$header-box: 4px;
$border-radius: 5px;
$border-radius-tight: 3px;

/*** DEV STUFF ***/
.color1 { margin-left: 2px; border: 1px solid black; float: left; background: $c1; height: 20px; width: 40px; }
.color2 { margin-left: 2px; border: 1px solid black; float: left; background: $c2; height: 20px; width: 40px; }
.color3 { margin-left: 2px; border: 1px solid black; float: left; background: $c3; height: 20px; width: 40px; }
.color4 { margin-left: 2px; border: 1px solid black; float: left; background: $c4; height: 20px; width: 40px; }
.color5 { margin-left: 2px; border: 1px solid black; float: left; background: $c5; height: 20px; width: 40px; }
.color6 { margin-left: 2px; border: 1px solid black; float: left; background: $c6; height: 20px; width: 40px; }

/*** SITE WIDE  ***/
h1, h2, h3, h4, h5, h6 { font-weight: bold; margin: 0;}
h1 { font-size: 160%; }
h2 { font-size: 150%; }
h3 { font-size: 140%; }
h4 { font-size: 130%; }
h5 { font-size: 120%; }
h6 { font-size: 110%; }

h3 {
  /*background: -webkit-linear-gradient(lighten($c2, 40%), lighten($c2, 25%));*/
  background: white url("background-v2.png") 0 -4px repeat-x;
  background-size: 100% 115%;
  padding: 8px;
  border-bottom: 1px solid $border-color1;

  .page_title {
    float: left;
  }

}


a {
  color: darken($c2, 10%);
  text-decoration: none;

  &:hover {
    color: $c5;
    text-decoration: none;
  }
}

html {
  height: 100%;
  font: 12px/16px helvetica, arial, freesans, clean, sans-serif;
  color: $c1;
}

body {
  background: white url('background-v2.png') 0 0 repeat-x;
}

#container {
  width: 960px;
  margin: 0 auto;
}

#content {
  border-radius: $border-radius;
  background: $c6;
  margin-top: 10px;
  padding: 15px 20px 0;
  background: url('background-white.png') 0 0 no-repeat;
  background-size: 100%;
}

/*** HEADER  ***/
.header_wrapper {
  height: $header-height + $header-extra;
  /*background: $c6;*/
  padding-bottom: 1px;
  /* border-bottom: 1px solid #d4d4d4 */
}

.header_coloring {
  height: $header-height + $header-extra;
  $top: lighten($c2, 60%);
  /*background: -webkit-linear-gradient(top, $top, darken($top, 10%));*/
  /* background-color: #f5f5f5; */
}

#header {
  margin-top: -($header-height + $header-extra + $header-box);
  height: $header-height;
  font-size: 12px;
}

#logo {
  float: left;
  margin-top: 20px;
  a {
    color: $c1;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: $c6 1px 0px 0;
    -webkit-transition: all 0.45s ease-in-out;

    &:hover {
      color: $c5;
    }

  }
}

ul.piped {

  li {
    border-right: 1px solid $border-color1;
    border-left: 1px solid $c6;

    &.first {
      border-left: none;
    }

    &.last {
      border-right: none;
    }
  }

}

#authentication {
  float: right;
  font-weight: bold;
  background: -webkit-linear-gradient(lighten($c2, 50%), lighten($c2, 35%));
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  border-top: 0;
  box-shadow: 0 1px 1px $border-color1;
  padding: 9px 5px 3px 5px;
  ul {

    li {
      float: left;
      text-decoration: none;
      color: $c1;
      padding: 0 8px;
      margin-top: 4px;
      a {
        text-shadow: $c6 1px 0px 0;
      }

      &.image {
        //12px total inline
        padding: 0px;
        margin-top: -1px;
        img {
          border: 1px solid $c6;
        }
      }
    }

  }
}

/* search bar, filters, etc */
#highlights {
  margin-top: 15px;
  font-size: 12px;

  .site_search {
    float: right;

    input {
      padding: 3px;
      border: 1px solid $border-color1;
      border-radius: $border-radius-tight;
    }
  }

  ul {
    float: right;
    margin: 7px 0;

    li {
      float: left;
      padding: 0 5px;

      a {
        color: $c5;
        font-weight: bold;
        text-shadow: $c6 1px 0px 0;
        padding: 3px 8px;
        border: 1px solid transparent;

        &:hover {
          color: lighten($c5, 15%);
        }
        
        &.on {
          margin: 0 0 0 10px;
          border-radius: 40px;

          background-color: lighten($c2, 45%);
          border: 1px solid #BCBCBC;
          box-shadow: inset 1px 1px 1px rgba(0,0,0,0.05);

        }
      }
    }

  }
}





.flash {
  padding: 12px;
  margin-bottom: 5px;
}

.notice {
  background: lighten($blue, 30%);
  border: 2px solid darken($blue, 10%);
}

.clear {
  clear: both;
}

.field_with_errors input {
  border: 2px red solid;
}

.pagination {
  float: right;
}
