/*
 *= require reset
 *= require jquery-ui-1.8.16.custom
 *= require_self
 *= require_tree . 
*/

/*** VARIABLES ***/
@import url(http://fonts.googleapis.com/css?family=Coustard|Indie+Flower);
$blue: blue;
$vitaminc: #FF9900;
$route66: #424242;
$grey: #E9E9E9;
$BC: #BCBCBC;
$blue: #3299BB;

$c1: #203e42;
$c2: #7e9899;
$c3: #d4fffd;
$c4: #db9655;
$c5: #de6a00;
$c6: white;
$border-color1: lighten($c2, 20%);
$border-color2: #dfdfdf;

$header-height: 30px;
$header-extra: 50px;
$header-guest-extra: 15px;
$header-box: 4px;
$border-radius: 5px;
$border-radius-tight: 3px;

/*** DEV STUFF ***/
.color1 { margin-left: 2px; border: 1px solid black; float: left; background: $c1; height: 20px; width: 40px; }
.color2 { margin-left: 2px; border: 1px solid black; float: left; background: $c2; height: 20px; width: 40px; }
.color3 { margin-left: 2px; border: 1px solid black; float: left; background: $c3; height: 20px; width: 40px; }
.color4 { margin-left: 2px; border: 1px solid black; float: left; background: $c4; height: 20px; width: 40px; }
.color5 { margin-left: 2px; border: 1px solid black; float: left; background: $c5; height: 20px; width: 40px; }
.color6 { margin-left: 2px; border: 1px solid black; float: left; background: $c6; height: 20px; width: 40px; }

/*** SITE WIDE  ***/
h1, h2, h3, h4, h5, h6 { font-weight: bold; margin: 0;}
h1 { font-size: 160%; }
h2 { font-size: 150%; }
h3 { font-size: 140%; }
h4 { font-size: 130%; }
h5 { font-size: 120%; }
h6 { font-size: 110%; }

input {
  padding: 3px;
  border: 1px solid $border-color1;
  border-radius: $border-radius-tight;
}

.inputs {
  label {
    margin-right: 5px;
    font-size: 14px;
  }
}

h3 {
  /*background: -webkit-linear-gradient(lighten($c2, 40%), lighten($c2, 25%));*/
  background: white url("background-v2.png") 0 -4px repeat-x;
  background-size: 100% 115%;
  padding: 8px;
  border-bottom: 1px solid $border-color1;

  .page_title {
    float: left;
  }

  .pagination {
    margin-top: 2px;
    margin-left: 5px;
    font-size: 12px;
    float: left;
  }

}


a {
  color: darken($c2, 10%);
  text-decoration: none;

  &:hover {
    color: $c5;
    text-decoration: none;
  }
}

html {
  height: 100%;
  font: 12px/16px helvetica, arial, freesans, clean, sans-serif;
  color: $c1;
}

body {
  background: url('fabric_2.png') 0 0;
  //background: white url('background-v2.png') 0 0 repeat-x;
}

#container {
  width: 960px;
  margin: 0 auto;
}

#content {
  border-radius: $border-radius;
  //background: $c6;
  padding: 15px 20px 0;
  //background: url('background-white.png') 0 0 no-repeat;
  background-size: 100%;
}

/*** HEADER  ***/
.header_wrapper {
  height: $header-height + $header-extra;
  padding-bottom: 1px;
  //box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  //border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  &.guest {
    height: $header-height + $header-guest-extra;
  }
}

.header_coloring {
  height: $header-height + $header-extra;
  $top: lighten($c2, 60%);
  /*background: -webkit-linear-gradient(top, $top, darken($top, 10%));*/
  /* background-color: #f5f5f5; */
}

#header {
  margin-top: -($header-height + $header-extra + $header-box);
  height: $header-height + $header-extra + $header-box;
  &.guest {
    margin-top: -($header-height + $header-guest-extra + $header-box);
    margin-left: 35px;
    margin-right: 35px;
    height: $header-height + $header-guest-extra + $header-box;
  }
  font-size: 14px;

  .site_search {
    float: right;

    input {
      padding: 3px;
      border: 1px solid $border-color1;
      border-radius: $border-radius-tight;
      width: 150px;
    }
  }
}

#logo {
  float: left;
  margin-top: 10px;
  a {
    font-family: 'Coustard', serif;
    color: $c1;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: $c6 1px 0px 0;
    -webkit-transition: all 0.45s ease-in-out;

    &:hover {
      color: $c5;
    }
  }
}

ul.piped {
  li {
    border-right: 1px solid $border-color1;
    border-left: 1px solid $c6;

    &.first {
      border-left: none;
    }

    &.last {
      border-right: none;
    }
  }
}

#guest_links {
  float: right;
  margin-top: 16px;
  li {
    float: left;
    margin-left: 30px;
    a {
      //color: white;
    }
  }
}

#authentication {
  float: right;
  font-weight: bold;
  background: -webkit-linear-gradient(lighten($c2, 50%), lighten($c2, 35%));
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  border-top: 0;
  box-shadow: 0 1px 1px $border-color1;
  padding: 9px 5px 3px 5px;
  ul {

    li {
      float: left;
      text-decoration: none;
      color: $c1;
      padding: 0 8px;
      margin-top: 4px;
      a {
        text-shadow: $c6 1px 0px 0;

        &.reminders {
          margin-left: 2px;
          padding: 2px 4px;
          background: lighten($c2, 25%);
          border-radius: $border-radius;
          text-shadow: none;
        }
      }

      &.image {
        //12px total inline
        padding: 0px;
        margin-top: -1px;
        img {
          border: 1px solid $c6;
        }
      }
    }

  }
}


.flash {
  padding: 12px;
  margin-bottom: 5px;
  postition: absolute;
}

.notice {
  background: lighten($blue, 30%);
  border: 2px solid darken($blue, 10%);
  position: absolute;
  top: 0;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
}

.error {
  background: lighten($c4, 30%);
  border: 2px solid darken($c4, 10%);
}

.clear {
  clear: both;
}

.field_with_errors input {
  border: 2px red solid;
}

#link_form_container {
  position: absolute;

  &.highlighted {
    background: $c4;
  }
}

#url_form, #full_link_form {
  float: left;
  font-size: 14px;
  width: 400px;

  .site_search { float: left }

  label {
    float: left;
  }

  input {
    float: left;

    &[type=url], &[type=text] {
      width: 300px;
    }


    &[type=submit]{
      float: left;
      color: #ffffff;
      font-weight: bold;
      padding: 3px 20px;
      cursor: pointer;
      background: -moz-linear-gradient(
          top,
          #db9655 0%,
          #ffc821 25%,
          #de6b00);
      background: -webkit-gradient(
          linear, left top, left bottom, 
          from(#db9655),
          color-stop(0.25, #ffc821),
          to(#de6b00));
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border: 1px solid #7e9899;
      -moz-box-shadow:
          0px 1px 2px rgba(126,152,153,0.5),
          inset 0px 0px 0px rgba(255,255,255,0.7);
      -webkit-box-shadow:
          0px 1px 2px rgba(126,152,153,0.5),
          inset 0px 0px 0px rgba(255,255,255,0.7);
      text-shadow:
          -1px -1px 1px rgba(126,152,153,1),
          0px 1px 0px rgba(255,255,255,0.3);

      &:hover {

        background: -webkit-gradient(
            linear, left top, left bottom, 
            from(lighten($c4, 10%)),
            color-stop(0.25, #ffc821),
            to(lighten($c5, 10%)));
        }
      }
  }

}

#banner {
  position: absolute;
  top: ($header-height + $header-guest-extra + $header-box);
  width: 100%;
  left: 0;
  height: 350px;
  background: url('old-paper-texture.jpg') 0 0 no-repeat;
  background-size: 100%;
  z-index: -1;
}

#banner_text {
  margin-top: 50px;
  height: 350px;
  color: white;
  font-size: 60px;
  text-align: center;
  text-shadow: 0 3px rgba(0, 0, 0, 0.3);
}
