@import 'reset'
@import 'variables'
@import 'layout'
@import 'base'
@import 'font-icons'

@import 'select2'
@import "header"
@import 'users'
@import 'codemarks'
@import 'footer'
@import 'login_buttons'
@import 'pages'
@import 'sessions_new'
@import 'moving_tiles'

ul.piped
  li
    border-right: 1px solid $border-color1
    border-left: 1px solid $c6
    float: left
    //box-shadow: 0 0 18px rgba(0,0,0,0.1);
    padding: 0 5px

    &.first
      border-left: none

    &.last
      border-right: none

.flash
  padding: 12px
  position: absolute
  top: ($header-height + $header-extra + $header-box)
  width: 500px
  left: 50%
  margin-left: -250px
  text-align: center
  z-index: 500
  p
    padding-right: 20px
  .remove
    font-family: icomoon
    position: absolute
    top: 12px
    right: 10px

.success
  background: lighten($green, 10%)
  border: 2px solid darken($green, 10%)

.notice, .info
  background: lighten($blue, 30%)
  border: 2px solid darken($blue, 10%)

.error
  background: lighten($c4, 30%)
  border: 2px solid darken($c4, 10%)

.content
  overflow: hidden
.field_with_errors input
  border: 2px red solid
