@import 'font-aller'

html
  height: 100%
  color: $c1
  font: 12px aller, 'Proxima Nova', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, 'Lucida Grande', sans-serif

  body
    background: #F4F4F4

h1, h2, h3, h4, h5, h6 
  font-weight: bold
  margin: 0

h1 
  font-size: 160%
h2
  font-size: 150%
h3
  font-size: 140%
h4
  font-size: 130%
h5
  font-size: 120%
h6
  font-size: 110%
em
  font-style: italic

*:focus
  outline: none

.inputs
  label
    margin-right: 5px
    font-size: 14px
a 
  color: $c2
  text-decoration: none

  &:hover
    cursor: pointer
    color: $c5
    text-decoration: none

.clear
  clear: both

.hide
  display: none

.site_content
  margin: 0 auto
  @media (min-width: 1440px)
    width: 1440px
  @media (min-width: 1200px) and (max-width: 1440px)
    width: 1200px
  @media (min-width: 960px) and (max-width: 1200px)
    width: 960px
  @media (min-width: 720px) and (max-width: 960px)
    width: 720px
  @media (min-width: 0px) and (max-width: 720px)
    width: 480px

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  body
    width: 480px
    .site_content
      width: 480px
    #codemark_form.first
      display: none
