@import 'mixins/spin'
@import 'mixins/whitebox'
@import 'mixins/border_radius'
@import 'bourbon/css3/transition'

@mixin icon
  font-family: 'icomoon'

.codemarks.index .codemarks
  text-align: center
  .loading-spinner
    display: inline-block
    font-family: 'icomoon'
    margin-top: 50px
    font-size: 35px
    @include spin(1s)

.tile
  float: left
  position: relative
  height: $tile-height
  width: $tile-width

  @include transition (all, 0.15s, ease-in-out)
  @include whitebox

  &:hover
    @include box-shadow(0px 3px 10px 1px rgba($faded, 0.6))

  footer
    position: absolute
    bottom: 0
    left: 0
    height: $tile-footer-height
    width: 100%
    padding: 5px
    font-size: 12px

@import codemark
@import codemark_form
@import pagination
@import tabs
@import control_panel
