#main_content.codemarks
  &.show
    margin-top: 20px

    header
      padding-bottom: 15px
      .left
        float: left
        min-width: 600px
        .user_image
          float: left
          border: 1px solid $border-color2
          margin-right: 10px
          height: 80px
          width: 80px
        h1
        h6
          margin-top: 10px
          .name
            margin-right: 5px
      .right
        float: right

    .topics_list
      li
        float: left

    .textmark
      background: white
      padding: 0 20px
      border: 1px solid $grey
      @include box-shadow(0px 2px 6px rgba(0, 0, 0, 0.2))
      p
        font-family: Helvetica
        color: #333
        font-size: 12px
        line-height: 20px
