.codemark_form
  padding: 20px
  background: white
  position: relative

  input:not([type=submit]), textarea
    width: 100%

  .url
    margin-bottom: 10px
    word-wrap: break-word

  .topics
    display: block

    &.select2-container-multi .select2-choices .select2-search-field input
      height: auto

  .cancel.icon-cancel-2
    position: absolute
    top: 0
    right: 0
    padding: 10px

  .actions
    margin-top: 15px

    .cancel
      float: right
      margin-right: 10px
      line-height: 30px

    input[type=submit]
      float: right

.select2-results
  max-height: 120px

a.select2-search-choice-close
  @include transition(none)

#main_content.codemarks
  &.edit, &.update
    margin-top: 10px

    label
      display: block
      &.inline
        float: right
    input:not([type=submit])
      width: 450px
    textarea
      width: 650px
      min-height: 500px
