@import 'mixins/circle'
@import 'bourbon/css3/transition'

$orange: rgb(253, 141, 0)
$background: rgb(244, 243, 243)
$background-hover: rgb(249, 249, 249)
$dark_border: rgb(200, 198, 198)
$light_faded: rgb(152, 177, 174)
$dark_faded: rgb(140, 138, 138)

@mixin light_text
  color: $light_faded
  font-weight: normal

@mixin proud_text
  color: $dark_faded

#codemarks
  background: $background
  border: 1px solid $dark_border
  @include border-radius(5px)

  .codemark
    padding: 10px 10px
    border-bottom: 1px solid $dark_border
    border-top: 1px solid rgb(252, 252, 252)
    @include transition
    a
      @include transition

    &:first-child
      @include border-top-left-radius(5px)
      @include border-top-right-radius(5px)
      border-top: none

    &:last-child
      @include border-bottom-left-radius(5px)
      @include border-bottom-right-radius(5px)
      border-bottom: none

    .corner
      float: right
      border-top: 25px solid rgba($orange, 0.2)
      border-left: 25px solid transparent
      margin-top: -11px
      margin-right: -10px
      &:first-child
        @include border-top-left-radius(5px)
        @include border-top-right-radius(5px)
      &:hover
        border-top: 25px solid rgba(254, 60, 60, 0.7)

    h3
      a
        font-size: 16px
        &:hover
          color: $orange

    .actions
      float: right
      a
        float: right
        font-size: 12px
        @include light_text
        margin-left: 10px
      .tweet_button
        float: right
        display: none
        margin-top: -3px

    &:hover
      background: $background-hover
      .actions
        a
          @include proud_text
          &:hover
            color: $orange
      .tweet_button
        display: block

    img
      margin-bottom: -5px
      height: 16px
      display: inline
      padding: 1px
      border: 1px solid #eee

    #topics_tags
      margin-top: 10px
      display: inline-block
      li
        display: inline-block
        &:after
          content: " | "
        &:last-child:after
          content: ""


    .details
      float: left
      color: lighten($c2, 40%)
      margin-top: 2px
      .time
        display: inline-block

        li
          float: left
          padding: 3px 5px
          border-bottom: none

          &:first-child
            padding-left: 0
            border-right: none

          &:last-child
            padding-right: 0
            border-right: none

      .saver
        display: inline-block
        margin-left: 3px

    .note
      display: none
      margin-top: 5px
      border-top: 1px solid #ddd
      padding: 5px 0

    .comments
      display: none
      margin-top: 5px
      border-top: 1px solid #ddd
      padding: 5px 0
      .author
        color: lighten($c2, 40%)
      .delete
        float: right
      li
        width: 85%
        padding: 5px 0

    .comment_form
      textarea
        width: 80%
        height: 35px
