body.codemarklet
  height: 100%

  .codemarklet
    height: 100%
    background: white

  #main_content
    margin-top: 20px

  .login
    text-align: center
    .btn-auth
      margin: 30px 5px
    .authentication_help
      display: none

  .codemark_form
    position: relative
    margin-left: 0
    top: 0
    left: 0

    .cancel
      display: none

  ul.add_codemark
    padding: 10px
    li
      display: block
      padding: 10px
      a
        font-size: 18px
        line-height: 20px

    form
      padding: 3px
      input
        line-height: 20px
        font-size: 18px
        margin: 0
        padding: 5px 10px
        min-width: 400px
      button

  .message
    padding: 10px
    font-size: 14px
    line-height: 18px
    border-top: none
    border-right: none
    border-left: none
    border-bottom-width: 1px
