/*** VARIABLES ***/
@import "configuration"
@import "bourbon"

#filters
  float: left

#sorts 
  float: left

.pagination 
  float: right
  margin: 10px 0 0 10px

.codemark
  padding: 10px 0
  line-height: 16px
  border-bottom: 1px solid $border-color2

  &:nth-last-child(1)
    border-bottom: none

  h3
    float: left
    font-size: 13px
    a
      font-size: 16px
      &:hover
        color: $c5
    .pop
      font-weight: normal
    .host
      color: lighten($c2, 40%)
      font-size: 11px
      font-weight: normal

  .saver img
    margin-bottom: -5px
    height: 20px
    display: inline

  #topics_tags
    float: left
    li
      float: left
      padding: 3px 5px
      border-bottom: none
      &:nth-last-child(1)
        padding-right: 0
        border-right: none

  .details
    float: left
    color: lighten($c2, 40%)
    margin-top: 2px
    .time
      display: inline-block

      li
        float: left
        padding: 3px 5px
        border-bottom: none

        &:first-child
          padding-left: 0
          border-right: none

        &:last-child
          padding-right: 0
          border-right: none

    .saver
      display: inline-block
      margin-left: 3px

  .note
    display: none

  .actions 
    float: right

    iframe
      position: relative
      top: 0px

    .show_note
      display: inline-block
      height: 16px
      width: 16px
      margin: 0 10px 0 0
      cursor: pointer
      background: url('note.png') no-repeat
      background-size: 100%

  .edit_codemark
    width: 16px
    height: 16px
    display: inline-block
    cursor: pointer
    background: url('edit.png') no-repeat
    background-size: 100%

  .ownership
    width: 20px
    height: 20px
    margin: 0 0 0px 10px
    padding: 0 2px
    display: inline-block
    text-align: center
    cursor: pointer
    background-size: 20px

    &.delete
      background: url('yellow_star.png') no-repeat

    &.delete.hover
      background: url('delete.png') no-repeat

    &.copy
      background: url('gray_star.png') no-repeat

    &.copy.hover
      background: url('yellow_star.png') no-repeat
