.comments_container
  background: white
  @include box-shadow(0px 1px 3px 1px rgba($faded, 0.2))
  border: 1px solid rgba($faded, 0.4)
  margin-top: 10px
  ul.comments
    h3
      margin: 10px
      margin-bottom: 0
    li
      position: relative
    > li
      margin-left: 10px

  aside
    float: left
    width: 40px
    height: 100%
    margin: 10px

  .main
    display: block
    height: 100%
    padding: 10px
    margin-left: 50px

  img.avatar
    height: 40px
    width: 40px

  .new_comment, .logged_out, .comment

  .logged_out
    padding: 10px

  .comment
    .created_at
      font-size: 11px
      font-family: "Helvetica", "arial"
      margin-left: 5px

    .options
      position: absolute
      top: 10px
      right: 10px
      font-size: 11px
      font-family: "Helvetica", "arial"
      a
        margin-left: 5px

  form
    textarea.body
      height: 70px
      width: 100%

    input[type=submit]
      margin-left: 10px
      margin-bottom: 10px

  .add-comment
    float: right

  .child_comments
    width: 100%

    .new_comment, .logged_out, .comment
      border: none
      border-top: 1px solid $grey
      @include box-shadow(none)

    aside
      margin-left: 0

    .main
      margin-left: 40px
      padding-right: 0
      padding-bottom: 0

  .show-more
    display: none

  .child_comments .child_comments
    .child_comments, .show-less
      display: none
    .show-more
      display: inline
  li.comment.show-all-replies
    .child_comments, .show-less
      display: inline
    .show-more
      display: none

  li.comment.hide-all-replies
    .child_comments, .show-less
      display: none
    .show-more
      display: inline
