.controlPanel
  float: left
  width: 100%
  margin-bottom: 10px
  .filter
    background: #fefefe
    border: 1px solid #ccc
    @include border-radius(5px)
    padding: 5px
    background: white
    float: left
    width: 100px
    margin-right: 10px
    .description
      float: left
    .remove
      font-family: 'icomoon'
      float: right
