/*** VARIABLES ***/
@import "configuration";

#filters_and_sorts {
  font-size: 16px;
}

#filters {
  float: left;
}

#sorts {
  float: right;
}



#filters, #sorts {
  .current {
    text-decoration: underline;
  }

  li {
    .first {
      padding-left: 0;
    }
    .first {
      padding-right: 0;
    }
  }
}

