/*** VARIABLES ***/
@import url(http://fonts.googleapis.com/css?family=Coustard|Indie+Flower);
$blue: blue;
$vitaminc: #FF9900;
$route66: #424242;
$grey: #E9E9E9;
$BC: #BCBCBC;
$blue: #3299BB;

$c1: #203e42;
$c5: #C76F2B;
$c2: #364745;
$c4: #FED103;
$c3: #AF9A29;
$c6: white;
$border-color1: lighten($c2, 20%);
$border-color2: #dfdfdf;

$header-height: 30px;
$header-extra: 15px;
$header-box: 4px;
$border-radius: 5px;
$border-radius-tight: 3px;

#filters {
  float: left;
}

#sorts {
  float: right;
}

#filters, #sorts {
  .current {
    text-decoration: underline;
  }

  li {
    .first {
      padding-left: 0;
    }
    .first {
      padding-right: 0;
    }
  }
}

#codemarks {
  li {
    padding: 5px 0;
    border-bottom: 1px solid $border-color2;
    &:nth-last-child(1) {
      border-bottom: none;
    }


    h3 {
      float: left;
      font-size: 13px;

      a {
        font-size: 16px;
        font-weight: normal;
        color: $c5;

        &:hover {
          color: $c3;
        }
      }

      .pop {
        font-weight: normal;
      }

      .host {
        color: lighten($c2, 40%);
        font-size: 11px;
        font-weight: normal;
      }
    }

    #topics_tags {
      float: right;

      li {
        float: left;
        padding: 0 5px;
        border-bottom: none;

        &:nth-last-child(1) {
          padding-right: 0;
          border-right: none;
        }
      }

    }

    .details {
      color: lighten($c2, 40%);
      margin-top: 2px;

      .time {
        float: left;
      }
      .saver {
        float: left;
        margin-right: 3px;
      }
    }

  }
}
