/*** VARIABLES ***/
@import "configuration";

#filters_and_sorts {
  //padding-bottom: 5px;
  font-size: 16px;
  //border-bottom: 1px solid $border_color2;
  //margin-bottom: 10px;
}

#filters {
  float: left;
}

#sorts {
  float: right;
}



#filters, #sorts {
  .current {
    text-decoration: underline;
  }

  li {
    .first {
      padding-left: 0;
    }
    .first {
      padding-right: 0;
    }
  }
}

