/*** VARIABLES ***/
@import "configuration";

#footer {
  width: 800px;
  margin: 80px auto 20px;
  border-top: 1px solid $border_color2;

  ul {
    width: 218px;
    margin: 15px auto 20px;
    text-align: center;

    li { padding: 0 15px; }
  }
}
