/*** VARIABLES ***/
@import "configuration"

#footer
  width: 800px
  margin: 20px auto 20px
  border-top: 1px solid $border_color2

  ul
    width: 218px
    margin: 0 auto
    padding: 15px 0 20px
    text-align: center

    li
      padding: 0 15px
