@import "bourbon"
@import 'mixins/border_radius'

body > header
  position: fixed
  top: 0
  left: 0
  right: 0
  height: $header-height
  z-index: 100

  background-color: #fefefe
  border-bottom: 1px solid #dddddd
  @include box-shadow(0 -2px 15px rgba(0, 0, 0, 0.25))

  line-height: $header-height

  #logo
    position: fixed
    top: 10px
    left: 50%
    margin-left: -55px

    img
      width: 110px

  .about_link
    float: right

  #authentication
    float: right

    .profile_info
      float: right

      img
        position: relative
        height: 25px
        top: ($header-height - 25px) / 4
        @include border_radius(5px)

      a
        line-height: 40px

      &:hover + .options
        display: block

    .options
      display: none
      background: white
      clear: both
      border: 1px solid #dddddd
      border-top: none

      &:hover
        display: block

      li
        width: 100%
        border-bottom: 1px solid #dddddd
        &:last-child
          border-bottom: none

      &.logged_in
        li
          text-align: left
          line-height: 14px
          &:hover
            background: #eee
          a
            display: inline-block
            padding: 10px
            width: 100%

      &.logged_out
        li
          text-align: center
          padding: 10px

        .btn-auth
          height: 22px
          line-height: 20px
          font-size: 16px
