@import "bourbon"

header
  height: 50px
  background-color: #fefefe
  margin-bottom: 10px
  border-bottom: 1px solid #dddddd
  .site_content
    min-width: 480px

  #logo
    float: left
    margin-top: 10px

    img
      margin-top: 1px
      height: 26px

  #authentication
    float: right
    margin-top: 18px

    li
      float: left
      padding: 0 15px

      &.last
        padding-right: 0

      &.image
        margin: -5px -20px 0 0
        padding: 0
        padding-right: 10px
        img
          border: 1px solid $c6
          height: 25px


#codemark_form
  position: absolute
  top: 10px
  left: 50%
  margin-left: -300px
