#main_content
  margin-top: $header-height

.site_content
  margin: 0 auto
  @media (min-width: 1440px)
    width: 1200px
  @media (min-width: 1200px) and (max-width: 1440px)
    width: 960px
  @media (min-width: 960px) and (max-width: 1200px)
    width: 720px
  @media (min-width: 0px) and (max-width: 960px)
    width: 480px

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  body
    width: 480px
    .site_content
      width: 480px
    #codemark_form.first
      display: none
