#resource_list li {
  padding: 5px 0px;
}

#resource_list a, a:visited {
  text-decoration: none;
}

#resource_list a:hover {
  text-decoration: underline;
}

#link_form {
  width: 500px;
}

#link_form input {
  display: inline;
}

#link_form input[type=url] {
  width: 500px;
}

