/*** VARIABLES ***/
$blue: blue;
$vitaminc: #FF9900;
$route66: #424242;
$grey: #E9E9E9;
$BC: #BCBCBC;
$blue: #3299BB;

$c1: #203e42;
$c2: #7e9899;
$c3: #d4fffd;
$c4: #db9655;
$c5: #de6a00;
$c6: white;
$border-color1: lighten($c2, 15%);

$header-height: 30px;
$header-extra: 60px;
$header-box: 2px;
$border-radius: 5px;
$border-radius-tight: 3px;

ul#resources_list {

  >li {
    padding: 5px;
    border-bottom: 1px solid $border-color1;

    &.alternate {
      background: #fcfcfc;
    }

    p {
      font-weight: normal;
      float: left;

      &.title {
        font-size: 14px;
        a {
          color: $c1;
          font-size: 14px;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      &.description {
        font-size: 13px;
        padding: 5px 0;
      }

    }

    .admin_links, ul.data {
      float: left;
      margin-top: 2px;
      font-size: 11px;
      font-weight: bold;
      color: #999;

      li {
        float: left;
        background: none;
        padding: 0 5px;
        color: darken($c2, 10%);
        border-bottom: none;

        &.right {
          padding-right: 0px;
        }
      }
    }

    .admin_links {
      float: right;
    }
  }

  ul.topics_list {
    float: left;
    float: left;
    margin-top: 5px;
    font-size: 11px;
    color: #999;

    li {
      float: left;
      padding: 0 5px;

      &.first {
        padding-left: 0;
      }
    }
  }

    
}


#link_form {
width: 500px;
}

#link_form input {
display: inline;
}

#link_form input[type=url] {
width: 450px;
}

