.btn-auth {
    position: relative;
    display: inline-block;
    padding: 5px 1em;
    border: 1px solid #999;
    border-radius: 5px;
    margin: 30px 5px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    color: #222;
    background: #fff;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /* iOS */
    -webkit-appearance: none; /* 1 */
    /* IE6/7 hacks */
    *overflow: visible;  /* 2 */
    *display: inline; /* 3 */
    *zoom: 1; /* 3 */

    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;

    -moz-user-drag: -moz-none;
    -webkit-user-drag: none;
    user-drag: none;
}

.btn-auth:hover,
.btn-auth:focus,
.btn-auth:active {
    text-decoration: none;
}

.btn-auth:before {
    width: 36px;
    height: 36px;
    content: "";
    float: left;
    background: url(auth-icons2.png) no-repeat 99px 99px;
}

.btn-auth::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Twitter
   ========================================================================== */

.btn-twitter {
  color: #fff;
  border-color: darken(#249bc9, 5%);
  border-bottom-color: darken(#249bc9, 10%);
  //background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#249bc9), to(lighten(#249bc9, 15%)));
  //background-image: -webkit-linear-gradient(#249bc9, lighten(#249bc9, 15%));
  //background-image: -moz-linear-gradient(#249bc9, lighten(#249bc9, 15%));
  //background-image: -ms-linear-gradient(#249bc9, lighten(#249bc9, 15%));
  //background-image: -o-linear-gradient(#249bc9, lighten(#249bc9, 15%));
  background-image: -webkit-linear-gradient(lighten(#249bc9, 5%), darken(#249bc9, 5%));
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.btn-twitter:hover,
.btn-twitter:focus {
  border-color: #2687b9;
  background-color: #cadde9;
  color: #fff;
  background-image: -webkit-linear-gradient(darken(#249bc9, 0%), darken(#249bc9, 15%));
}

.btn-twitter:active {
  //background: #cadde9;
  //-webkit-box-shadow: inset 0 1px 0 #bbd6e7;
  background-image: -webkit-linear-gradient(#249bc9, lighten(#249bc9, 15%));
  //box-shadow: inset 0 1px 0 #bbd6e7;
}

/*
 * Icon
 */

.btn-twitter:before {
    margin: 0 0.6em 0 -0.6em;
    background-position: -22px 0;
    background-position: -36px -22px;
}


/* GitHub
   ========================================================================== */

.btn-github {
  border-color: #518cc6;
  border-bottom-color: #2a65a0;
  color: #fff;
  background-color: #599bdc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -webkit-linear-gradient(darken(#599bdc, 15%), darken(#3072b3, 15%));
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -ms-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(darken(#599bdc, 5%), darken(#3072b3, 15%));
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.btn-github:hover,
.btn-github:focus {
  color: #fff;
  border-color: darken(#518cc6, 15%);
  border-top-color: #518cc6;
  border-left-color: #518cc6;
  border-bottom-color: darken(#2a65a0, 15%);
  background-color: darken(#599bdc, 5%);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -ms-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
  background-image: -webkit-linear-gradient(darken(#599bdc, 20%), darken(#3072b3, 20%));
}

.btn-github:active {
    border-color: #2A65A0;
    border-bottom-color: #518CC6;
    background: #3072B3;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background: -webkit-linear-gradient(#3072b3, #599bdc);
    background: -moz-linear-gradient(#3072b3, #599bdc);
    background: -ms-linear-gradient(#3072b3, #599bdc);
    background: -o-linear-gradient(#3072b3, #599bdc);
    background: linear-gradient(#3072b3, #599bdc);
}

/*
 * Icon
 */

.btn-github:before {
    margin: 0 0.6em 0 -0.6em;
    background-position: -108px -22px;
}

.btn-github:hover:before,
.btn-github:focus:before,
.btn-github:active:before {
    //background-position: -72px -22px;
}

