@import "bourbon"
@import "mixins/user_drag"

.btn-auth
  position: relative
  display: inline-block
  padding: 5px 1em
  border: 1px solid #999
  text-align: center
  text-decoration: none
  white-space: nowrap
  cursor: pointer
  color: #fff
  background: #fff
  height: 36px
  line-height: 36px
  font-size: 20px
  z-index: 0
  @include border-radius(5px)
  @include box-sizing(content-box)
  @include user-select(none)
  @include user-drag(none)

  /* iOS */
  -webkit-appearance: none
  /* IE6/7 hacks */
  *overflow: visible
  *display: inline
  *zoom: 1

.btn-auth:hover,
.btn-auth:focus,
.btn-auth:active
  text-decoration: none
  color: #fff

.btn-auth:before
  margin: 0 0.6em 0 -0.3em
  font-family: 'icomoon'

.btn-auth::-moz-focus-inner
  border: 0
  padding: 0


.btn-twitter
  border-color: darken(#249bc9, 5%)
  border-bottom-color: darken(#249bc9, 10%)
  border-color: darken(#249bc9, 5%)
  border-bottom-color: darken(#249bc9, 10%)
  @include linear-gradient(lighten(#249bc9, 5%), darken(#249bc9, 5%))
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3)

.btn-twitter:hover,
.btn-twitter:focus
  border-color: #2687b9
  background-color: #cadde9
  @include linear-gradient(darken(#249bc9, 0%), darken(#249bc9, 15%))

.btn-twitter:active
  background-image: -webkit-linear-gradient(#249bc9, lighten(#249bc9, 15%))

.btn-twitter:before
  content: "\e023"


.btn-github
  border-color: darken(#518cc6, 5%)
  border-bottom-color: darken(#2a65a0, 5%)
  background-color: #599bdc
  @include linear-gradient(darken(#599bdc, 15%), darken(#3072b3, 25%))
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3)

.btn-github:hover,
.btn-github:focus
  border-color: darken(#518cc6, 15%)
  background-color: darken(#599bdc, 5%)
  @include linear-gradient(darken(#599bdc, 5%), darken(#3072b3, 15%))

.btn-github:active
  border-color: #2A65A0
  border-bottom-color: #518CC6
  background: #3072B3
  @include linear-gradient(#3072b3, #599bdc)

.btn-github:before
  content: "\e029"
