.markdown_html
  font-family: 'Helvetica', 'arial'
  color: #333

  h1, h2, h3, h4, h5, h6

  p, blockquote, ul, ol, dl, li, table, pre
  
  ol
    list-style: decimal

  ul
    list-style: disc

  pre
    word-wrap: break-word

  ul, ol
    padding-left: 20px

  ul :first-child, ol :first-child
    margin-top: 5px

  ul :last-child, ol :last-child
    margin-bottom: 5px

  code
    background: url("bg.png")
    border: 1px solid rgba($faded, 0.6)
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New

  p, blockquote, ul, ol, dl, li, table, pre
    margin: 5px 0
