@import "bourbon"

body.pages.about
  background: lighten($orange, 15%)

#main_content.about
  height: 100%

#about
  min-height: 1000px
  width: 100%
  text-align: center

  #banner_text
    margin: auto 0
    width: 960px
    height: 100%
    color: white
    text-align: center
    font-size: 42px
    font-weight: bold
    border-bottom: none
    display: inline

    h1
      padding: 50px 10px 0px
      font-size: 56px
      line-height: 56px
      text-shadow: 0 1px rgba(0, 0, 0, 0.2)
      font-family: Helvetica

    h2
      margin: 10px 0
      color: lighten($orange, 5%)
      font-size: 36px
      line-height: 36px
      &:before
        margin-right: 10px
        font-size: 32px
        line-height: 32px


    .tagline
      font-size: 16px
      line-height: 16px
      color: darken($grey, 60%)
      text-transform: uppercase

    p
      margin-top: 0

  #site_explanation, #how_to
    font-size: 30px
    margin: 50px auto
    padding: 35px
    width: 900px
    @include whitebox
    font-weight: normal

    p
      color: darken($grey, 50%)
      font-size: 18px
      line-height: 30px
      vertical-align: top
      padding: 10px 0

    > p
      text-align: left

    ul
      margin-top: 30px
      text-align: center

    li
      text-align: center
      width: 33%
      margin-top: 0px
      float: left
      font-size: 16px
      line-height: 120%
      font-weight: normal
      padding: 0 20px

      p
        font-size: 16px

  .sign_up
    margin-top: 30px
    .btn-auth
      margin-top: 10px
      margin-right: 10px

  img
    margin: 20px 0 0

  #how_to
    margin-top: 10px
    text-align: left
    h2
      color: darken($grey, 60%)
      margin: 30px 0 20px
      &:first-child
        margin-top: 0
    ul
      margin: 0
      li
        display: block
        width: 100%
        text-align: left
        padding: 0
        margin-bottom: 20px
        margin-left: 20px
        h4
          color: lighten($orange, 5%)
          font-size: 24px
          line-height: 30px
          &:before
            margin-right: 10px
            font-size: 20px
            line-height: 20px
        p
          line-height: 20px
        &:last-child
          margin-bottom: 0
          p
            padding-bottom: 0
