/*** VARIABLES ***/
@import "configuration";

#profile {
  img.profile {
    float: left;
    padding: 2px;
    border: 1px solid $border-color2;
  }

  h3 {
    float: left;
    width: 300px;
    margin-left: 10px;

    .icons {
      float: right;
      
      img {
        float: left;
        height: 35px;

        &.missing {
          border: 1px solid red;
        }
      }
    }
  }

}
