@import "configuration"
@import "bourbon"
@import "style"

@mixin text-only
  padding-top: 13px

.sidebar
  @include white-pop
  margin-right: 15px
  float: left
  width: 200px
  min-height: 400px

  .text
    @include text-only

  h3
    margin: 5px 0 0 5px

  ul > li
    font-size: 24px
    height: 45px
    border-top: 1px solid #dddddd
    padding: 5px

    &:first-child
      border-top: none
      padding-top: 0

    &.main > a
      @include text-only
    &.user_info
      padding-top: 5px
      img
        float: left
        width: 45px
        height: 45px

      .name
        float: left
        margin-left: 12px
        @include text-only

    &.sort
      font-size: 15px
      height: 20px

      &.active

  ul > li.active
    background: #fda702
