@import "configuration"
@import "bourbon"

.sidebar
  margin-right: 15px
  padding: 5px
  float: left
  background: green
  width: 200px

  @include border-radius(4px)
  background-color: #fefefe
  border: 1px solid #dddddd
  box-shadow: 1px 2px 0px #EEE
  min-height: 400px

  .user_info
    img
      float: left
      width: 45px

    .name
      float: left
      margin-top: 12px
      margin-left: 12px
      font-size: 24px
