nav
  display: inline-block
  .tabs
    li
      display: inline-block
      a
        height: $header-height
        display: inline-block
        width: 70px
        text-align: center
        &:hover
          background: #ddd
      &.active
        a
          background: $orange

