/*** VARIABLES ***/
$blue: blue;
$vitaminc: #FF9900;
$route66: #424242;
$grey: #E9E9E9;
$BC: #BCBCBC;
$blue: #3299BB;

$c1: #203e42;
$c2: #7e9899;
$c3: #d4fffd;
$c4: #db9655;
$c5: #de6a00;
$c6: white;
$border-color1: lighten($c2, 15%);

$header-height: 30px;
$header-extra: 60px;
$header-box: 2px;
$border-radius: 5px;
$border-radius-tight: 3px;

#list_box {
  margin-top: 10px;
  border-radius: $border-radius-tight;
  border: 1px solid $border-color1;
  border-bottom: none;

  ul.sort_links {
    float: right;
    font-size: 12px;
    margin-top: 2px;

    li {
      float: left;
      padding: 0 5px;

      a {
        padding: 3px 8px;
        border: 1px solid transparent;

        &.on {
          border-radius: 40px;

          background-color: lighten($c2, 45%);
          border: 1px solid #BCBCBC;
          box-shadow: inset 1px 1px 1px rgba(0,0,0,0.05);
        }
      }

      &:hover {
        color: lighten($c5, 15%);
      }

      &.right {
        padding-right: 0;
      }
    }
  }

  ul#topics_list {

    li {
      padding: 5px;
      border-bottom: 1px solid $border-color1;

      &.alternate {
        background: #fcfcfc;
      }

      p {
        font-weight: normal;
        float: left;

        &.title {
          font-size: 14px;
          a {
            color: $c1;
            font-size: 14px;
            font-weight: bold;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        &.description {
          font-size: 13px;
          padding: 5px 0;
        }
      }
      
      .admin_links, ul.data {
        float: left;
        margin-top: 2px;
        font-size: 11px;
        font-weight: bold;
        color: #999;

        li {
          float: left;
          background: none;
          padding: 0 5px;
          color: darken($c2, 10%);
          border-bottom: none;

          &.right {
            padding-right: 0px;
          }
        }
      }

      .admin_links {
        float: right;
      }
    }

  }
}

