$blue: blue
$vitaminc: #FF9900
$route66: #424242
$grey: #E9E9E9
$BC: #BCBCBC
$blue: #3299BB
$orange: rgb(253, 141, 0)

$c1: #7a7373
$c5: #fd8d00
$c2: #364745
$c4: #FED103
$c3: #AF9A29
$c6: white
$border-color1: lighten($c2, 20%)
$border-color2: #dfdfdf

$header-height: 30px
$header-extra: 15px
$header-box: 4px
$border-radius: 5px
$border-radius-tight: 3px

$dark_border: rgb(200, 198, 198)
$light_faded: rgb(152, 177, 174)
$dark_faded: rgb(140, 138, 138)

$tile-width: 230px
$tile-height: 254px

$tile-footer-height: 30px
$tile-header-height: 45px
$tile-main-height: $tile-height - $tile-footer-height - $tile-header-height
