/*** VARIABLES ***/
@import "configuration";

#welcome {
  #banner {
    height: 300px;
  }
  #banner_text {
    height: 252px;
  }

  form.edit_user {
    width: 150px;
    margin: 0 auto;
    input[type=email] {
      margin-left: -10px;
      //margin-left: 35px;
    }
  }

  .email { display: none; }

  #welcome_link_form_container { 
    width: 604px;
    margin: 0 auto;
    display: none; 
  }

  a {
    color: white;
    text-shadow: none;

    &:hover {
      color: $c4;
    }
  }

  #site_explanation {
  }
}
