/*** VARIABLES ***/
@import "configuration"

#welcome
  #banner
    height: 300px

  #banner_text
    height: 252px

  h3
    font: 24px
    line-height: 24px

  #welcome_form
    width: 400px
    margin: 0 auto
    p
      padding: 5px
    label
      font-size: 18px

  #no_thanks
    color: white
    &:hover
      color: orange

  #mc_embed_signup
    display: none

  .has_email
    display: none
    #site_explanation
      width: 900px
      margin: 20px auto

      li
        height: 130px
        border-right-color: darken($border-color2, 10%)
        font-size: 20px
        text-align: center
        float: left
        padding: 0 20px
        width: 258px
        line-height: 120%

        a
          color: $c3
        
        p
          margin-top: 10px
          font-size: 16px
          text-shadow: none

    #get_going
      margin-top: 20px
      font-size: 20px
      line-height: 20px
      color: white
      a
        color: $c3
        &:hover
          color: orange

