#codemarklet
  #banner
  #banner_text
    %h2 codemarks
    %h3 bookmarks for social coders

    .clear
    = link_to "sign in with twitter", codemarklet_sessions_path(:provider => :twitter, :callback => @callback_url), :class => "btn-auth btn-twitter"
    = link_to "sign in with github", codemarklet_sessions_path(:provider => :github, :callback => @callback_url), :class => "btn-auth btn-github"
    - if @chrome
      .chrome_message
        %h3.clear
          If authentication is hanging,
          %br
          %br
          you might have to visit
          = link_to 'codemarks.com', 'http://www.codemarks.com', :target => '_blank'
          %br
          %br
          and login before using the extension
