#codemarklet
  #banner
  #banner_text
    %h2 codemarks
    %h3 bookmarks for social coders

    .clear
    = link_to "sign in with twitter", codemarklet_sign_in_path(:provider => :twitter, :callback => @callback_url), :class => "btn-auth btn-twitter"
    = link_to "sign in with github", codemarklet_sign_in_path(:provider => :github, :callback => @callback_url), :class => "btn-auth btn-github"
