:javascript
  setTimeout(function() { $('.authentication_help').fadeIn(1000); }, 5000)

%header
  #logo
    - logo = image_tag 'cm_tag_440x280_transparent.png'
    = link_to logo, root_path

#main_content
  .login
    %h4
      %p You are currently not signed in to Codemarks.
      %p Sign in below in order to save this page

    = link_to "sign in with twitter", codemarklet_sessions_path(:provider => :twitter, :callback => @callback_url), :class => "btn-auth btn-twitter"
    = link_to "sign in with github", codemarklet_sessions_path(:provider => :github, :callback => @callback_url), :class => "btn-auth btn-github"

    - if browser.chrome?
      .authentication_help
        %p
          * If authentication is hanging, visit #{link_to 'codemarks.com', 'http://www.codemarks.com', :target => '_blank'}, login there, and try again
