/ BEGIN: Add Codemark Template.

%li.add_link
  %a.icon-link-2 New Link
%li.add_file
  %a.icon-upload New File
%li.add_image
  %a.icon-picture New Image
%li.add_note
  %a.icon-paper-2 New Note

/ END: Add Codemark Template.
