/ BEGIN: Add Codemark Template.
%li.login
  %h6 You are not signed in.
  %h6 Sign in below to add a codemark
  %a.btn-auth.btn-twitter{:href => '/auth/twitter'} twitter
  %a.btn-auth.btn-github{:href => '/auth/github'} github
%li.add_link
  %a.icon-link-2 New Link
%li.new_image
  %a.icon-picture.disabled New Image
%li.new_note
  %a.icon-paper-2.disabled New Note

/ END: Add Codemark Template.
