/ BEGIN: Codemark Template.
%h3
  %a.title
  %span.resource
    %span.host

%section.actions
  %a.show_comments
  %a.copy_codemark Save
  %a.twitter_share
%section.details
  %span.save_date
  by
  %a.author
    %img.avatar
    %span.name
%section.topics
  %a.topic_title
.clear

/ END: Codemark Template.
