/ BEGIN: Codemark Template.
%h1
  .icon.icon-link-2
  .title
    %a.title_link{target: '_blank'}
  .save_date
.main
  %img.main-image
%ul.topics
  %li
    %a.topic
%footer
  .author.icon-user-2
    %img.avatar
    %a.name{:href => '#'}
    %span.saves
  .hover-icons
    %a.delete
    %a.add
    %a.comments! &#x50;
    %a.share! &#xe023;
  .views.icon-eye
.clear

/ END: Codemark Template.
