/ BEGIN: Codemark Template.
%header
  .icon
  .title
    %a.title_link{target: '_blank'}
.main
  %img.main-image
  .description
  %ul.topics
    %li
      %a.topic
%footer
  .author.icon-user-2
    %img.avatar
    %a.name{:href => '#'}
    %span.saves
  .hover-icons
    %a.delete
    %a.add
    %a.comments! &#x50;
    %a.share{:target => '_blank'}! &#xe023;
  .views.icon-eye
.clear

/ END: Codemark Template.
