/ BEGIN: Codemark Template.
%h3
  %a.title{target: '_blank'}
  %span.host
.corner
%section.actions
  %a.edit
  %a.twitter_share
%section.details
  %span.save_date
  by
  %a.author
    %span.name
%section.topics
  %a.topic
.clear

/ END: Codemark Template.
