/ BEGIN: Codemark Form Template.
%label Url
.url

%label Title
%input(class='title' name='title' type='text' placeholder='Title')

%label Description
%textarea(class='description' name='description' type='text' placeholder='description' rows='8')

%label Tags
%input(class='topics' name='topics')

%button.submit Submit

%footer
  .hover-icons
    %a.cancel.icon-cancel-2
/ END: Codemark Form Template.
