/ BEGIN: Codemark Template.
%li#codemark_record_119.codemark
  %input#codemark_id{:name => "codemark_id", :type => "hidden", :value => "119"}/
  %input#click_url{:name => "click_url", :type => "hidden", :value => "/links/77/click"}/
  .corner.delete
  .actions
    %a.show_comments{:href => ""} Comments (0)
    %a.edit_codemark{:href => ""} Edit
    %a.twitter_popup{"data-tweet-text" => "Have%20you%20seen%20this%3F%20http%3A%2F%2Fviget.com%2Fextend%2Fprotip-passing-parameters-to-your-rake-tasks%20-%20%22Protip%3A%20Passing%20Parameters%20to%20Your%20Rake%20Tasks%20%7C%20Viget%22%20%23rake%20%23ruby-on-rails", :href => "http://twitter.com/share"} Share
  %h3
    %a.codemark_link{:href => "http://viget.com/extend/protip-passing-parameters-to-your-rake-tasks", :target => "blank"} Protip: Passing Parameters to Your Rake Tasks | Viget
    .host viget.com
  .clear
  .details
    about 1 month
    ago
    by
    %a{:href => "/gmassanek--6"} gmassanek
    and 2 others
  %ul#topics_tags
    %li
      %a{:href => "/topics/rake"} Rake
    %li
      %a{:href => "/topics/ruby-on-rails"} Ruby on Rails
  .clear
  .comments
    %ul
      %li.none No comments yet
    %form.comment_form{"accept-charset" => "UTF-8", :action => "/comments", :id => "", :method => "post"}
      %div{:style => "margin:0;padding:0;display:inline"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "TGkQaXhK3Tosrn8JCVikXx8wD/QnZjm8nZCv6lOfqWI="}/
      %input#comment_codemark_id{:name => "comment[codemark_id]", :type => "hidden", :value => "119"}/
      %textarea#comment_text{:cols => "40", :name => "comment[text]", :placeholder => "Comment on this codemark", :rows => "20"}
      %input{:name => "commit", :type => "submit", :value => "save"}/
/ END: Codemark Template.
