/ BEGIN: Codemark Form Template.
%a.cancel &#xe00a;
%input{:class => 'title', :name => 'title', :type => 'text', :placeholder => 'Title'}
%textarea{:class => 'description', :name => 'description', :type => 'text', :placeholder => 'description'}
%ul.topics
  %li
    %a.topic
%footer
.clear

/ END: Codemark Form Template.
