/ BEGIN: Codemark Template.
%h1
  .icon.icon-link
  .title
    %a.title_link{target: '_blank'}
  .save_date
.main
  %img.main-image
%footer
  .author
    %img.avatar
    %a.name{:href => '#'}
  .hover-icons
    %a.share! &#38;
  .views.icon-eye
.clear

/ END: Codemark Template.
