/ BEGIN: Codemark Template.
%header
  .header-container
    .icon.icon-link-2
    .title
      %a.title_link{target: '_blank'}
.main
  %a.image-link{target: '_blank'}
    %img.main-image
    .image-container
  %ul.topics_list
    %li
      %a.topic
%footer
  .author.icon-user-2
    %img.avatar
    %a.name{:href => '#'}
    %span.saves
  .hover-icons
    /%a.comments.icon-comments
    %a.share.icon-twitter{:target => '_blank'}
    .views.icon-eye
    %a.permalink.icon-link-2
    %a.show-description.icon-book
      %p.description
    %a.delete.icon-remove
    %a.edit.icon-pencil
    %a.add.icon-plus
.clear

/ END: Codemark Template.
