/ BEGIN: Codemark Form Template.
%a.cancel.icon-cancel-2
%label Url
.url

%label Title
%input(class='title' name='title' type='text' placeholder='Title')

%label Description
%textarea(class='description' name='description' type='text' placeholder='description' rows='8')

%label Tags
%input(class='topics' name='topics')

.actions
  %input.btn-auth.btn-twitter(type='submit' value='Submit')
  %a.cancel Cancel

.clear
/ END: Codemark Form Template.
