/ BEGIN: New Codemark Template.
%ul.new_options
  %li.new_link
    %a.icon-link-2 New Link
  %li.new_image
    %a.icon-picture New Image
  %li.new_note
    %a.icon-paper-2 New Note
.clear

/ END: New Codemark Template.
