/ BEGIN: Link Codemark Show Template.
%aside
  .user
    %h3
      %a.user_link
        %img.user_image
        .nickname
    .clear
  .topics
  .codemarks
  .clear
.main
  .main-codemark
    %iframe.linkmark
  .comments_container
/ END: Link Codemark Show Template.
