/ BEGIN: Repository Codemark Show Template.
.textmark
  %header
    .options
      %a.edit-codemark.icon-pencil
    %h1.title.icon-github
      %a.external_link(target='_blank')

  .description

  %p
    %label Forks:
    %span.forks_count

  %p
    %label Watchers:
    %span.watchers_count

  %p
    %label Language:
    %span.language

  %p
    %label Repo created:
    %span.repo_created_at.timeago

  %p
    %label Last updated:
    %span.pushed_at

  %p
    %label Owner:
    %span.owner_login

  %ul.topics_list
    %li
      %a.topic
  .clear
  %footer
    %span.created Created
    .timeago
    %span.created by
    %a.user_link
      %img.user_image
      .nickname
.clear
/ END: Repository Codemark Show Template.
