/ BEGIN: Text Codemark Show Template.
.textmark
  %header
    .options
      %a.edit-codemark.icon-pencil
    %h1.title
  .markdown_html
  %footer
    %span.created Created
    .timeago
    %span.created by
    %a.user_link
      %img.user_image
      .nickname
.clear
/ END: Text Codemark Show Template.
