/ BEGIN: Codemark Show Template.
%aside
  .user
    %h3
      %a.user_link
        %img.user_image
        .nickname
    .clear
  .topics
.main
  .main-codemark
  .clear
  .comments_container
/ END: Codemark Show Template.
