/ BEGIN: Text Codemark Show Template.
%aside
  .user
    %h3
      %a.user_link
        %img.user_image
        .nickname
    .clear
  .topics
  .codemarks
  .clear
.main
  .textmark
    %header
      .options
        %a.edit-codemark.icon-pencil
      %h1.title
    .markdown_html
    %footer
      %span.created Created
      .timeago
      %span.created by
      %a.user_link
        %img.user_image
        .nickname
    .clear
  .comments_container
/ END: Text Codemark Show Template.
