/ BEGIN: Filemark Codemark Show Template.
.filemark
  %header
    .options
      %a.edit-codemark.icon-pencil
    %h1.title.icon-upload
  %section.file-details
    %label Name
    .attachment_name
    %label Size
    .attachment_size
    %a.download.icon-download.btn-auth.btn-twitter
  .clear
  %footer
    %span.created Created
    .timeago
    %span.created by
    %a.user_link
      %img.user_image
      .nickname
.clear
/ END: Filemark Codemark Show Template.
