/ BEGIN: ImageFile Codemark Show Template.
.imagefile
  %header
    .options
      %a.edit-codemark.icon-pencil
    %h1.title.icon-picture
  %img.main-image
  .clear
  %footer
    %span.created Created
    .timeago
    %span.created by
    %a.user_link
      %img.user_image
      .nickname
.clear
/ END: ImageFile Codemark Show Template.
