/ BEGIN: Codemark Template.
%header
  .icon.icon-paper-2
  .title
    %a.title_link
.main
  .text
  %ul.topics
    %li
      %a.topic
%footer
  .author.icon-user-2
    %img.avatar
    %a.name{:href => '#'}
    %span.saves
  .hover-icons
    %a.delete.icon-remove
    %a.add.icon-plus
    /%a.comments.icon-comments
    %a.share.icon-twitter{:target => '_blank'}
  .views.icon-eye
.clear

/ END: Codemark Template.
