/ BEGIN: Codemark Template.
%header
  .header-container
    .icon.icon-paper-2
    .title
      %a.title_link
.main
  .text.markdown_html
  %ul.topics_list
    %li
      %a.topic
%footer
  .author.icon-user-2
    %img.avatar
    %a.name{:href => '#'}
    %span.saves
  .hover-icons
    %a.share.icon-twitter{:target => '_blank'}
    .views.icon-eye
    %a.delete.icon-remove
    %a.edit.icon-pencil
    %a.add.icon-plus
    %a.permalink.icon-link-2
.clear

/ END: Codemark Template.
