/ BEGIN: Codemark Form Template.
%label Title
%input(class='title' name='title' type='text' placeholder='Title')

%label Text
%textarea(class='text' name='text' type='text' placeholder='text' rows='8')

%label Tags
%input(class='topics' name='topics')

%button.submit Submit

%footer
  .hover-icons
    %a.cancel.icon-cancel-2
/ END: Codemark Form Template.
