/ BEGIN: Codemark Form Template.
%a.cancel.icon-cancel-2
%label Title
%input(class='title' name='title' type='text' placeholder='Title')

%label Text
%textarea(class='text editable-resource' name='text' type='text' placeholder='text' rows='8')
%div(class='text read-only-resource' name='text' type='text' placeholder='text' rows='8')

%label Tags
%input(class='topics' name='topics')

%label.group_label Group
%select(class='group_id' name='group_id')

.actions
  %input.btn-auth.btn-twitter(type='submit' value='Submit')
  %a.cancel Cancel

.clear
/ END: Codemark Form Template.
