/ BEGIN: Codemark Template.
%header
  %ul.actions.overlay
    %li.delete
      %a.icon-remove
    %li.edit
      %a.icon-pencil
    %li.add
      %a.icon-plus
  .title
    %a.title_link
.main
  .text.markdown_html
%footer
  %ul.topics_list
    %li
      %a.topic
  .hover-icons
    %a.share.icon-twitter{:target => '_blank'}
    .views.icon-eye
  %ul.data.overlay
    %li.author.icon-user-2
      %img.avatar
      %a.name{:href => '#'}
    %li.saves
/ END: Codemark Template.
