#authentication
  - if logged_in?
    = link_to 'Sign Out', sign_out_path, :method => :delete
    |
    = link_to 'Account', user_path(current_userj
  - else
    = link_to 'Sign In', sign_in_path
    |
    = link_to 'Sign Up', new_user_path
