#authentication
  %ul
    - if logged_in?
      %li.image= link_to current_user_image, account_path(current_user) if current_user_image
      %li= link_to current_user.nickname, account_path(current_user)
      %li.last= link_to 'log out', sessions_path, :method => :delete
    - else
      %li= link_to 'Login', new_session_path
