#authentication
  - if logged_in?
    %ul
      %li= link_to 'Sign Out', sign_out_path, :method => :delete
      %li= link_to 'Account', user_path(current_user)
  - else
    %ul
      %li= link_to 'Sign Up', new_user_path
      %li= link_to 'Already a member? Sign In', sign_in_path
