.clear
#footer
  %ul.piped
    %li.first= link_to 'about', about_path
    %li= link_to 'contact', 'mailto:codemarker@gmail.com'
    %li.last= link_to 'contribute', 'https://github.com/gmassanek/codemarks'
    .clear
