#header
  #logo= link_to "codemarks", root_path
  = render '/codemarks/form' if logged_in?
  = render '/layouts/authentication'
  =# render '/layouts/search', :prefix => "", :placeholder => "Search topics..."
