#header
  #logo
    - logo = image_tag 'cm-logo-1-small.png'
    = link_to logo, root_path
  = render '/codemarks/form' if logged_in?
  = render '/layouts/authentication'
  =# render '/layouts/search', :prefix => "", :placeholder => "Search topics..."
