#authentication
  Filter by:
  - if filter_by_mine?
    = link_to "All", filter_session_path(:filter => :all), :method => :post
  - else
    = link_to "Mine", filter_session_path(:filter => :mine), :method => :post

