%nav
  %ul.tabs
    %li
      = link_to "Browse", '#', :class => 'everyones'
    %li
      = link_to 'Mine', '#', :class => 'yours'
    %li
      = link_to 'Topics', '', :class => 'topics'
    %li
      = link_to 'People', '', :class => 'people'
